@media screen and (max-width: 440px) {
    header{
        flex-direction: column;
        padding: 30px;
    }
    .nav{
        flex-direction: column;
    }
    .img {
        width: 300px;
    }
    section {
        margin: 30px;
        flex-direction: column;
    }
}