@media screen and (max-width: 440px) {
    header{
        flex-direction: column;
        padding: 30px;
        height: 25px;
        align-items: center;
    }
    .nav {
        margin-top: 1rem;
        flex-direction: column;
    }
    .img {
        width: 300px;
    }
}