* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/* cabeça do site */
#header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-top: 17px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 850px;
    align-items: center;
}

/* sections */
.tecnologias{
    display: flex;
}

.title-h2{
    padding: 1rem;
}

.section{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tec{
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background-color: #dcdcdc;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
}

/* Mobile */

@media (min-width:300px) and (max-width: 400px){
    .tecnologias{
        flex-direction: column;
        text-align: center;
        margin-bottom: 3px;
    }

    .tec{
        padding: 10px;
    }

    footer h4 {
        padding-top: 11.5rem;
        font-size: 14px;
    }
        
}