* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #17191D;
    color: #fff;
}

/* Cabeçalho do site */
#header {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionado alinhamento vertical */
    height: 55px;
    padding-top: 17px;
    margin: 0 auto;
    width: 60%;
    background-color: #1A237E;
    border-radius: 1px 1px 30px 30px;
}

#header h1 {}

/* Main */
main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 800px; /* Alterado para min-height para permitir expansão */
    align-items: center;
}

/* Sections */
.tecnologias {
    display: flex;
}

.title-h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h2 {
    margin-bottom: 1rem;
}

.section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tec {
    height: 140px;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background-color: #dcdcdc;
}

/* Container */
.container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 60%;
    margin: 0 auto;
}

.sobre {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.container-sobre p {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.container-m {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.container-m p {
    padding: 1rem;
}

.h3 {
    margin-top: 10px;
    text-align: center;
}

.img1 {
    padding-right: 1rem;
    border: 30px; /* Corrigido estilo da borda */
    border-radius: 30px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 430px) {
    .title-h2 {
        padding-top: 4rem;
        margin-bottom: 2rem;
    }

    #header {
        width: 100%;
        height: 75px;
        margin-bottom: 1rem;
    }

    .h2 {
        margin-bottom: 5rem;
        padding-bottom: 3rem;
        font-size: 18px;
    }

    .tecnologias {
        flex-direction: column;
        text-align: center;
        margin-bottom: 3px;
    }

    .tec {
        padding: 10px;
        margin: 10px;
    }

    .section {
        padding-bottom: 1rem;
        margin-bottom: 5rem;
        align-items: center;
    }

    .sobre {
        margin-bottom: 1rem;
        text-align: center;
    }

    .container-sobre {
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    main {
        margin-bottom: 1rem;
    }

    .h3 {
        margin: 1rem;
        margin-top: 4rem;
    }

    .container-sobre .sobre {
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }

    .container-sobre p {
        font-size: 16px;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .container-m {
        flex-direction: column-reverse;
        border: 0;
        margin-bottom: 2rem;
    }

    .imgcontainer {
        display: none;
    }

    footer h4 {
        font-size: 14px;
        margin-top: 1rem;
    }
}
